@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre&display=swap');

::placeholder {
    font-family: 'Abhaya Libre', serif;
    font-style: bold;
    font-size: 20px;
    color: #5A5A5A;
    padding-right: 20px;
  }

  .SButton {
    position: relative;
    right: 100px;
  }